<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="pageWrap">
    <form [formGroup]="resetPwForm" (ngSubmit)="resetPw()" novalidate>
      <h1 class="pageWrap--title">Reset your password</h1>
      <mat-form-field>
        <mat-label>Token</mat-label>
        <input formControlName="token" type="string" matInput [value]="token">
        <mat-error>Token required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput>
        <mat-error>Password required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password confirm</mat-label>
        <input formControlName="passwordConfirm" type="password" matInput>
        <mat-error>You need to confirm your password</mat-error>
      </mat-form-field>
      <p>Changed your mind ? <a href="/login">click here to login</a></p>

      <button mat-raised-button class="button button--primary">Reset</button>
    </form>
    <mat-card *ngIf='!validToken'>
      <span class="searchError">
        Your token is invalid.
      </span>
    </mat-card>
  </div>
</ion-content>
