<div class="header header--userDisconnected" *ngIf="!userConnected">
  <div class="header--title header--title__userDisconnected" >
    <span>While</span>
    <div class="header--title__logo">
      <img  src="./../../assets/logo/logo_primary.png" alt="Logo" />
    </div>
    <span>Hungry</span>
  </div>
</div>

<div class="header header--userConnected" *ngIf="userConnected">
  <div class="header--title header--title__userConnected" *ngIf="userConnected">
    <div class="header--title__logo">
      <img  src="./../../assets/logo/logo_primary.png" alt="Logo" />
    </div>
  </div>

  <div class="header--user">
    <span class="header--user__userName">{{ this.userName }}</span>
    <span class="material-icons header--user__logout" (click)="logout()">logout</span>
  </div>
</div>

