@import "./../../../theme/colors.scss";

.header {
  height: 50px;
  border-bottom: 1px solid $primary;
  padding: 0 5%;
  color: $primary;

  &--userConnected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &--userDisconnected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &--title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    span {
      font-size: 20px;
      font-weight: 400;
      margin: 0 10px;
    }

    &__logo {
      height: 30px;
      img {
        height: 30px;
      }
    }
  }

  &--user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__userName {
      transform: translateY(-1px);
      line-height: 20px;
      font-size: 20px !important;
      margin-right: 10px;
      font-variant: small-caps;
    }

    &__logout {
      font-size: 20px;
    }
  }
}
