<mat-card class="userCard">
  <mat-list class="userCard__list">
    <mat-list-item class="userCard__list__item" matLine>
      <h2 class="userCard__list__item--email">{{ user.email }}</h2>
    </mat-list-item>
    <mat-list-item matLine>
      <p class="userCard__list__item--name">{{user.lastname}} {{user.firstname}}</p>
    </mat-list-item>
  </mat-list>
</mat-card>

