@import "./../../../theme/colors.scss";

.userCard {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  width: 100% !important;
  min-width: 200px !important;
  max-width: 400px !important;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__item {
      width: 90%;
      margin: 0 auto;
  
      &--email {
        color: $primary-light;
        font-variant: small-caps;
        font-size: 20px;
        font-weight: 500;
      }
  
      &--name {
        color: $primary;
        font-size: 20px;
        font-weight: 200;
      }
    }
  }
}
  

