<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="pageWrap">
    <form [formGroup]="signupForm" (ngSubmit)="register()" novalidate>
      <h1 class="pageWrap--title">Register</h1>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input formControlName="firstName" type="text" matInput>
        <mat-error>First name required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput>
        <mat-error>Last name required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="userName" matInput>
        <mat-error>Username required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        <mat-error>Email required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput>
        <mat-error>Password required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input formControlName="passwordConfirm"  type="password" matInput>
        <mat-error>You need to confirm your password</mat-error>
      </mat-form-field>
      <p>Already got an account ? <a href="/login">click here to login</a></p>

      <button mat-raised-button class="button button--primary" type="submit">Sign Up</button>
    </form>
  </div>
</ion-content>
