@import "./../../../theme/colors.scss";


::ng-deep .mat-focused .mat-form-field-label {
  color: $primary !important;
};

 ::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
} 

::ng-deep .mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;;
}

