<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <span class="material-icons md-18">home</span>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-profile">
      <span class="material-icons md-18">account_circle</span>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-search">
      <span class="material-icons md-18">search</span>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
