// WATCH Custom Variables
$primary: #455A64 !important;
$primary-dark: #1C313a;
$primary-light: #718792;

$grey: #EEEEEE;
$grey-dark: #E1E2E1;
$grey-background: #F6F6F6;

$green: #528884;
$green-dark: #45645E;
$green-light: #589D9A;
  
$prune: #64455A;
$prune-dark: #2B2440;
$prune-light: #765168;

$purple: #6F6485;
$purple-dark: #533A4E;
$purple-light: #84799A;