<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="pageWrap">
    <form [formGroup]="lostPwForm" (ngSubmit)="lostPw()" novalidate>
      <h1 class="pageWrap--title">Lost password</h1>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput>
        <mat-error>Email required</mat-error>
      </mat-form-field>

      <button mat-raised-button class="button button--primary">Send</button>
    </form>
    <mat-card *ngIf='!pwResetSuccess'>
      <span class="searchError">
        Sorry, we didn't found any user related to that email.
      </span>
    </mat-card>
  </div>
</ion-content>
