/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600&display=swap');

// WATCH Custom Variables
$primary: #455A64 !important;
$primary-dark: #1C313a;
$primary-light: #718792;

$grey: #EEEEEE;
$grey-dark: #E1E2E1;
$grey-background: #F6F6F6;

$green: #528884;
$green-dark: #45645E;
$green-light: #589D9A;
  
$prune: #64455A;
$prune-dark: #2B2440;
$prune-light: #765168;

$purple: #6F6485;
$purple-dark: #533A4E;
$purple-light: #84799A;

body {
  color: $primary !important;
  font-family: 'Spartan', sans-serif;

  h1 {
    color: $primary-light !important;
    align-self: center;
    font-size: 24px;
  }

  .button {
    border-radius: 50px;
    color: $grey-background;
    padding: 5px 30px;

    &--primary {
      background-color: $primary;
    }

    &--secondary {
      background-color: $prune;
    }
  }

  .pageWrap, .tabWrap {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    form {
      color: $primary !important;
      font-family: 'Spartan', sans-serif;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 90%; 
      min-width: 200px;
      max-width: 400px; 
      padding-bottom: 30px;
    
      p {
        align-self: start;
    
        a {
          color: $primary-light;
          cursor: pointer;
        }
      }
    
      mat-form-field.mat-form-field {
        width: 100%;
      }

      button {
        align-self: end;
      }

    }

    .mat-card {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 200px;
      max-width: 400px;
      
      .searchError {
        align-self: center;
        display: inline-block;
        color: #f44336;
        font-size: 18px;
        margin: 0 auto;
      }
    }
  }
}

mat-list.mat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .mat-list-item {
    width: 90%;
    margin: 0 auto;

    &__email {
      color: $primary-light;
      font-variant: small-caps;
      font-size: 20px;
      font-weight: 500;
    }

    &__name {
      color: $primary;
      font-size: 20px;
      font-weight: 200;
    }
  }
}



::ng-deep .mat-focused .mat-form-field-label {
  color: $primary !important;
};

 ::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: red;
} 

::ng-deep .mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;;
}